<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="MarcRecordServiceApp.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<connectionStrings>
  <add name="MarcRecordServiceApp.Settings.RittenhouseMarcDb" connectionString="Server=technoserv05;Database=MarcRecords;User ID=sa;Password=Techno2015;Trusted_Connection=False" />
 </connectionStrings>
	<applicationSettings>
		<MarcRecordServiceApp.Settings>
   <setting name="EmailConfigDirectory" serializeAs="String">
    <value>C:\Clients\Rittenhouse\MarcProject\MarcRecordServiceApp\MarcRecordServiceApp\EmailConfigs</value>
   </setting>
   <setting name="LcMarcRecordMaxProducts" serializeAs="String">
    <value>20000</value>
   </setting>
   <setting name="NlmMarcRecordMaxProducts" serializeAs="String">
    <value>100000</value>
   </setting>
   <setting name="RbdMarcRecordMaxProducts" serializeAs="String">
    <value>1000000</value>
   </setting>
   <setting name="DefaultFromAddress" serializeAs="String">
    <value>rbd@rittenhouse.com</value>
   </setting>
   <setting name="DefaultFromAddressName" serializeAs="String">
    <value>Rittenhouse Customer Service</value>
   </setting>
   <setting name="MarcFilesWorkingDirectory" serializeAs="String">
    <value>E:\Rittenhouse\MarcProject\MarcRecordServiceApp\Working</value>
   </setting>
   <setting name="SiteSubDirectory" serializeAs="String">
    <value>https://dev01.rittenhouse.com/Rbd/</value>
   </setting>
   <setting name="R2WebSite" serializeAs="String">
    <value>http://dev.r2library.com/Resource/Title/</value>
   </setting>
   <setting name="OclcGetRecordsOlderThanDays" serializeAs="String">
    <value>7</value>
   </setting>
   <setting name="DatabaseCommandTimeout" serializeAs="String">
    <value>600</value>
   </setting>
   <setting name="MarcRecordBatchSize" serializeAs="String">
    <value>10000</value>
   </setting>
   <setting name="R2DatabaseName" serializeAs="String">
    <value>DEV_RIT001</value>
   </setting>
  </MarcRecordServiceApp.Settings>
	</applicationSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
	</startup>
	<log4net debug="false">
		<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="E:\Rittenhouse\Logs\MarcRecordServiceApp.log"/>
			<param name="AppendToFile" value="false"/>
			<rollingStyle value="Size"/>
			<maxSizeRollBackups value="100"/>
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%date [%thread] %-5level %logger.%method - %message%newline"/>
			</layout>
		</appender>
		<appender name="console" type="log4net.Appender.ConsoleAppender, log4net">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%m%n"/>
			</layout>
			<param name="Threshold" value="INFO"/>
		</appender>
		<root>
			<priority value="ALL"/>
			<appender-ref ref="LogFileAppender"/>
			<appender-ref ref="console"/>
		</root>
	</log4net>
  <system.net>
    <mailSettings>
      <smtp from="r2-support@technotects.com">
        <network host="smtp.mandrillapp.com" port="587" userName="r2smtpgateway" password="dFfBt0dVxHB6qd-q86OTTw" defaultCredentials="false"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
