<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MarcRecordServiceApp.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MarcRecordServiceApp.Settings.RittenhouseMarcDb" connectionString="server=technoserv04\sql2005;database=MarcRecords;Integrated Security=FALSE;user=rbdWebUser;pwd=pwd123;" />
    </connectionStrings>
    <applicationSettings>
        <MarcRecordServiceApp.Settings>
            <setting name="EmailConfigDirectory" serializeAs="String">
                <value>S:\Clients\Rittenhouse\MarcRecordService\MarcRecordServiceApp\MarcRecordServiceApp\EmailConfigs</value>
            </setting>
            <setting name="DatabaseCommandTimeout" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="MarcRecordBatchSize" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="LcMarcRecordMaxProducts" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="NlmMarcRecordMaxProducts" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="RbdMarcRecordMaxProducts" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="MarcFilesWorkingDirectory" serializeAs="String">
                <value>E:\WorkingData\RittenhouseWebLoader\MarcRecordsWorking</value>
            </setting>
            <setting name="SiteSubDirectory" serializeAs="String">
                <value>https://dev21.rittenhouse.com/rbd/</value>
            </setting>
            <setting name="DefaultFromAddress" serializeAs="String">
                <value>rbd@rittenhouse.com</value>
            </setting>
            <setting name="DefaultFromAddressName" serializeAs="String">
                <value>Rittenhouse Customer Service</value>
            </setting>
        </MarcRecordServiceApp.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
