<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="MarcRecordServiceApp.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<connectionStrings>
  <add name="MarcRecordServiceApp.Settings.RittenhouseMarcDb" connectionString="Server=10.0.0.32;Database=MarcRecords;User ID=sa;Password=Techno2012;Trusted_Connection=False" />
 </connectionStrings>
	<applicationSettings>
		<MarcRecordServiceApp.Settings>
   <setting name="EmailConfigDirectory" serializeAs="String">
    <value>C:\Clients\Rittenhouse\MarcProject\MarcRecordServiceApp\MarcRecordServiceApp\EmailConfigs</value>
   </setting>
   <setting name="DatabaseCommandTimeout" serializeAs="String">
    <value>60</value>
   </setting>
   <setting name="LcMarcRecordMaxProducts" serializeAs="String">
    <value>10000</value>
   </setting>
   <setting name="NlmMarcRecordMaxProducts" serializeAs="String">
    <value>10000</value>
   </setting>
   <setting name="RbdMarcRecordMaxProducts" serializeAs="String">
    <value>1000000</value>
   </setting>
   <setting name="MarcFilesWorkingDirectory" serializeAs="String">
    <value>C:\Clients\Rittenhouse\MarcProject\MarcRecordServiceApp\Working</value>
   </setting>
   <setting name="SiteSubDirectory" serializeAs="String">
    <value>https://dev21.rittenhouse.com/rbd/</value>
   </setting>
   <setting name="DefaultFromAddress" serializeAs="String">
    <value>rbd@rittenhouse.com</value>
   </setting>
   <setting name="DefaultFromAddressName" serializeAs="String">
    <value>Rittenhouse Customer Service</value>
   </setting>
   <setting name="MarcRecordBatchSize" serializeAs="String">
    <value>10000</value>
   </setting>
  </MarcRecordServiceApp.Settings>
	</applicationSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<log4net debug="false">
		<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
			<param name="File" value="F:\Clients\Rittenhouse\MarcProject\Log4Net\MarcRecord.log" />
			<param name="AppendToFile" value="false" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="100" />
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%date [%thread] %-5level %logger.%method - %message%newline" />
			</layout>
		</appender>
		<appender name="console" type="log4net.Appender.ConsoleAppender, log4net">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%m%n" />
			</layout>
			<param name="Threshold" value="INFO" />
		</appender>
		<root>
			<priority value="ALL" />
			<appender-ref ref="LogFileAppender" />
			<appender-ref ref="console" />
		</root>
	</log4net>
  <system.net>
    <mailSettings>
      <smtp from="r2-support@technotects.com">
        <network host="smtp.1and1.com" port="587" userName="r2v2@technotects.net" password="R2V22013" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
