@{
    ViewBag.Title = "Error";
}

<p style="text-align: center;">
There was an error processing your request.<br/><br/>
    Please close this window and try again. <br/><br/>
    <button onclick="window.close()">Close</button>
</p>