@{
    ViewBag.Title = "Ftp";
}

<p style="text-align: center;">
    Your file was FTPed successfully.<br/><br/>
    You can close this window.<br/><br/>
    <button onclick="window.close()">Close</button>
</p>


