@{
    ViewBag.Title = "Download";
}

<h2>Download</h2>



<p style="text-align: center;">
    This page only excepts a Json HTTPpost.<br/><br/>
    Please close this window and try again. <br/><br/>
    <button onclick="window.close()">Close</button>
</p>