@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

Need to put brief instructions here.  But the detail can't be too details since we don't was outsite entities using this to get MARC records.  We may want to put some type of security around the site.
