@model MarcRecordServiceSite.Models.PingData
<!doctype html>
@{
    Layout = "";
}
<head>
	<title>Ping | Marc Records</title>
</head>
<body>		   

<h2>Marc Records - Version 1 - Ping Page</h2>
<div>Version: @Model.Version</div>
<div>Client IP Address: @Model.ClientIpAddress</div>
<div>Database Status: @Model.DatabaseStatus</div>
<div>Machine Name: @Model.MachineName</div>
</body>